{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-5 gap-4 mb-6">
  <div id="kpi-effectif" class="p-4 border rounded"></div>
  <div id="kpi-classes" class="p-4 border rounded"></div>
  <div id="kpi-cours" class="p-4 border rounded"></div>
  <div id="kpi-encaisse" class="p-4 border rounded"></div>
  <div id="kpi-presence" class="p-4 border rounded"></div>
</div>
<div class="mb-6">
  <canvas id="chart-ca"></canvas>
</div>
<div id="timeline" class="space-y-2"></div>
{% endblock %}

{% block javascript %}
<script src="{% static 'comptes/js/dashboard.js' %}"></script>
{% endblock %}
